@import "tailwindcss";
:root {
  font-family: "Outfit", sans-serif;
}
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.main-scroll{
    scrollbar-width: thin;
  scrollbar-color: rgba(100,116,139,0.5) transparent;
}