@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Outfit:wght@100..900&display=swap');
body {
  font-family: 'Google Sans', 'Outfit', sans-serif;
}